.root {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.box-info {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.keyboard-info {
    position: relative;
    flex-grow: initial;
    width: 250px;
    height: 250px;
    justify-content: flex-start;
    align-items: auto;
    background-size: contain;
    opacity: 1;
}

.menu-buttons {
    width: 100px;
    height: 100px;
    background-image: url("project://database/Assets/Art/Textures/Ui/TXT_EnableSoundIcon.png?fileID=2800000&guid=b0e5c87d5d9524c4090cf4a72f07969e&type=3#TXT_EnableSoundIcon");
    background-color: rgba(255, 255, 255, 0);
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-background-scale-mode: scale-and-crop;
    background-size: cover;
}

.menu-buttons:hover {
    -unity-background-image-tint-color: rgb(188, 188, 188);
}
